
@media screen and(max-width:670px){
    .main img {
        width: 100%;
    }
    .header-list ul li {
        display: grid;
        grid-template-columns:  100px
    }
    .nav-list,
    .container {
        width: 100%;
    }
   
}